openapi: 3.2.0
info:
  title: 'FlipperForce Public Project Expenses: Transactions API'
  version: 0.0.10
  description: '# FlipperForce Public API • Version 1


    ## How do I request an API key?'
servers:
- url: https://tools.flipperforce.com/api/v1
security:
- PublicApiBearerAuth: []
tags:
- name: 'Project Expenses: Transactions'
paths:
  /project/{projectV1}/expense-transactions/list:
    get:
      operationId: v1.project.expense-transactions.list
      description: 'List Expense Transactions within a Project.


        ## Reporting on Total Amounts


        Use the Project Expenses: Line Items - List API to query for total expense amounts and build expense reports.


        ## Finding Transactions without a Receipt


        Use `has_receipt=false` to list only Expense Transactions that do not have a Receipt. For example, to find Transactions whose Receipts you still need to find or follow up with a contractor to scan.


        Or use `has_receipt=true` to list only Expense Transactions that have a Receipt.


        Omitting `has_receipt` (default) returns both cases.'
      summary: List
      tags:
      - 'Project Expenses: Transactions'
      parameters:
      - name: per_page
        in: query
        description: Number of records to return at a time.
        schema:
          type: integer
          default: 20
          minimum: 1
          maximum: 100
      - name: has_receipt
        in: query
        description: Default (omitted) returns both cases. Pass `true` to only return Transactions with a Receipt, or `false` for Transactions without a Receipt.
        schema:
          type: boolean
      - name: cursor
        in: query
        schema:
          type: string
      - name: projectV1
        in: path
        required: true
        description: Project UUID
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Paginated set of `Expense Transaction`
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Expense_Transaction_List'
                  links:
                    type: object
                    properties:
                      first:
                        type:
                        - string
                        - 'null'
                      last:
                        type:
                        - string
                        - 'null'
                      prev:
                        type:
                        - string
                        - 'null'
                      next:
                        type:
                        - string
                        - 'null'
                    required:
                    - first
                    - last
                    - prev
                    - next
                  meta:
                    type: object
                    properties:
                      path:
                        type:
                        - string
                        - 'null'
                        description: Base path for paginator generated URLs.
                      per_page:
                        type: integer
                        description: Number of items shown per page.
                        minimum: 0
                      next_cursor:
                        type:
                        - string
                        - 'null'
                        description: The "cursor" that points to the next set of items.
                      prev_cursor:
                        type:
                        - string
                        - 'null'
                        description: The "cursor" that points to the previous set of items.
                      total_count:
                        type: integer
                        description: Number of records matching the request filters before pagination.
                    required:
                    - path
                    - per_page
                    - next_cursor
                    - prev_cursor
                    - total_count
                required:
                - data
                - links
                - meta
        '401':
          $ref: '#/components/responses/AuthenticationException'
        '422':
          $ref: '#/components/responses/ValidationException'
        '403':
          description: When the authenticated User Account is forbidden from accessing the content or software features
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Human-readable description of why access was not allowed
                  reason:
                    type:
                    - string
                    - 'null'
                    description: 'Machine-readable code for why access was not allowed. Possible values:

                      * `UNKNOWN` - Access Forbidden

                      * `UNSUPPORTED_CLIENT` - Unsupported client.

                      * `SUBSCRIPTION_MISSING` - A Subscription is required. Visit the application website to manage the Subscription.

                      * `SUBSCRIPTION_PAYMENT_DUE` - A paid Subscription is required. Visit the application website to manage the Subscription.

                      * `SUBSCRIPTION_PLAN_UNSUPPORTED_FEATURE` - The Subscription Plan does not support using this Software Feature.

                      * `FEATURE_ACCESS_DENIED` - Your account within this Workspace is not allowed to use this Software Feature. Contact the Workspace Owner to request access.

                      * `PROJECT_ACCESS_DENIED` - Your account is not allowed to access this Project. Contact the Workspace Owner to request access.

                      * `PROJECT_ARCHIVED` - This Project is Archived and cannot be accessed. You must restore this Project to Active Status to use it.

                      * `WORKSPACE_ACCESS_DENIED` - You do not have an account within this Workspace.

                      * `WORKSPACE_SELECTION_MISSING` - You must select a Workspace before making this request.

                      '
                    enum:
                    - UNKNOWN
                    - UNSUPPORTED_CLIENT
                    - SUBSCRIPTION_MISSING
                    - SUBSCRIPTION_PAYMENT_DUE
                    - SUBSCRIPTION_PLAN_UNSUPPORTED_FEATURE
                    - FEATURE_ACCESS_DENIED
                    - PROJECT_ACCESS_DENIED
                    - PROJECT_ARCHIVED
                    - WORKSPACE_ACCESS_DENIED
                    - WORKSPACE_SELECTION_MISSING
                    - null
  /project/{projectV1}/expense-transactions/create:
    post:
      operationId: v1.project.expense-transactions.create
      description: Create an Expense Transaction with Line Items to track your expenses.
      summary: Create
      tags:
      - 'Project Expenses: Transactions'
      parameters:
      - name: projectV1
        in: path
        required: true
        description: Project UUID
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Create_Expense_Transaction_Request'
      responses:
        '201':
          description: '`Expense Transaction`'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Expense_Transaction'
                required:
                - data
        '401':
          $ref: '#/components/responses/AuthenticationException'
        '422':
          $ref: '#/components/responses/ValidationException'
        '403':
          description: When the authenticated User Account is forbidden from accessing the content or software features
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Human-readable description of why access was not allowed
                  reason:
                    type:
                    - string
                    - 'null'
                    description: 'Machine-readable code for why access was not allowed. Possible values:

                      * `UNKNOWN` - Access Forbidden

                      * `UNSUPPORTED_CLIENT` - Unsupported client.

                      * `SUBSCRIPTION_MISSING` - A Subscription is required. Visit the application website to manage the Subscription.

                      * `SUBSCRIPTION_PAYMENT_DUE` - A paid Subscription is required. Visit the application website to manage the Subscription.

                      * `SUBSCRIPTION_PLAN_UNSUPPORTED_FEATURE` - The Subscription Plan does not support using this Software Feature.

                      * `FEATURE_ACCESS_DENIED` - Your account within this Workspace is not allowed to use this Software Feature. Contact the Workspace Owner to request access.

                      * `PROJECT_ACCESS_DENIED` - Your account is not allowed to access this Project. Contact the Workspace Owner to request access.

                      * `PROJECT_ARCHIVED` - This Project is Archived and cannot be accessed. You must restore this Project to Active Status to use it.

                      * `WORKSPACE_ACCESS_DENIED` - You do not have an account within this Workspace.

                      * `WORKSPACE_SELECTION_MISSING` - You must select a Workspace before making this request.

                      '
                    enum:
                    - UNKNOWN
                    - UNSUPPORTED_CLIENT
                    - SUBSCRIPTION_MISSING
                    - SUBSCRIPTION_PAYMENT_DUE
                    - SUBSCRIPTION_PLAN_UNSUPPORTED_FEATURE
                    - FEATURE_ACCESS_DENIED
                    - PROJECT_ACCESS_DENIED
                    - PROJECT_ARCHIVED
                    - WORKSPACE_ACCESS_DENIED
                    - WORKSPACE_SELECTION_MISSING
                    - null
  /project/{projectV1}/expense-transactions/{transactionUuid}:
    get:
      operationId: v1.project.expense-transactions.show
      description: Retrieve a single Expense Transaction with Expense line items.
      summary: Show
      tags:
      - 'Project Expenses: Transactions'
      parameters:
      - name: projectV1
        in: path
        required: true
        description: Project UUID
        schema:
          type: string
          format: uuid
      - name: transactionUuid
        in: path
        required: true
        description: Expense Transaction UUID
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: '`Expense Transaction`'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Expense_Transaction'
                required:
                - data
        '401':
          $ref: '#/components/responses/AuthenticationException'
        '403':
          description: When the authenticated User Account is forbidden from accessing the content or software features
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Human-readable description of why access was not allowed
                  reason:
                    type:
                    - string
                    - 'null'
                    description: 'Machine-readable code for why access was not allowed. Possible values:

                      * `UNKNOWN` - Access Forbidden

                      * `UNSUPPORTED_CLIENT` - Unsupported client.

                      * `SUBSCRIPTION_MISSING` - A Subscription is required. Visit the application website to manage the Subscription.

                      * `SUBSCRIPTION_PAYMENT_DUE` - A paid Subscription is required. Visit the application website to manage the Subscription.

                      * `SUBSCRIPTION_PLAN_UNSUPPORTED_FEATURE` - The Subscription Plan does not support using this Software Feature.

                      * `FEATURE_ACCESS_DENIED` - Your account within this Workspace is not allowed to use this Software Feature. Contact the Workspace Owner to request access.

                      * `PROJECT_ACCESS_DENIED` - Your account is not allowed to access this Project. Contact the Workspace Owner to request access.

                      * `PROJECT_ARCHIVED` - This Project is Archived and cannot be accessed. You must restore this Project to Active Status to use it.

                      * `WORKSPACE_ACCESS_DENIED` - You do not have an account within this Workspace.

                      * `WORKSPACE_SELECTION_MISSING` - You must select a Workspace before making this request.

                      '
                    enum:
                    - UNKNOWN
                    - UNSUPPORTED_CLIENT
                    - SUBSCRIPTION_MISSING
                    - SUBSCRIPTION_PAYMENT_DUE
                    - SUBSCRIPTION_PLAN_UNSUPPORTED_FEATURE
                    - FEATURE_ACCESS_DENIED
                    - PROJECT_ACCESS_DENIED
                    - PROJECT_ARCHIVED
                    - WORKSPACE_ACCESS_DENIED
                    - WORKSPACE_SELECTION_MISSING
                    - null
    patch:
      operationId: v1.project.expense-transactions.update
      description: 'Update an Expense Transaction and submitted Expense line items. Omitted existing Expenses are not deleted.


        When `total_tax` is omitted, the Transaction''s current total tax is preserved and redistributed across all Expense line items after submitted changes are applied.'
      summary: Update
      tags:
      - 'Project Expenses: Transactions'
      parameters:
      - name: projectV1
        in: path
        required: true
        description: Project UUID
        schema:
          type: string
          format: uuid
      - name: transactionUuid
        in: path
        required: true
        description: Expense Transaction UUID
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Update_Expense_Transaction_Request'
      responses:
        '200':
          description: '`Expense Transaction`'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Expense_Transaction'
                required:
                - data
        '401':
          $ref: '#/components/responses/AuthenticationException'
        '422':
          $ref: '#/components/responses/ValidationException'
        '403':
          description: When the authenticated User Account is forbidden from accessing the content or software features
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Human-readable description of why access was not allowed
                  reason:
                    type:
                    - string
                    - 'null'
                    description: 'Machine-readable code for why access was not allowed. Possible values:

                      * `UNKNOWN` - Access Forbidden

                      * `UNSUPPORTED_CLIENT` - Unsupported client.

                      * `SUBSCRIPTION_MISSING` - A Subscription is required. Visit the application website to manage the Subscription.

                      * `SUBSCRIPTION_PAYMENT_DUE` - A paid Subscription is required. Visit the application website to manage the Subscription.

                      * `SUBSCRIPTION_PLAN_UNSUPPORTED_FEATURE` - The Subscription Plan does not support using this Software Feature.

                      * `FEATURE_ACCESS_DENIED` - Your account within this Workspace is not allowed to use this Software Feature. Contact the Workspace Owner to request access.

                      * `PROJECT_ACCESS_DENIED` - Your account is not allowed to access this Project. Contact the Workspace Owner to request access.

                      * `PROJECT_ARCHIVED` - This Project is Archived and cannot be accessed. You must restore this Project to Active Status to use it.

                      * `WORKSPACE_ACCESS_DENIED` - You do not have an account within this Workspace.

                      * `WORKSPACE_SELECTION_MISSING` - You must select a Workspace before making this request.

                      '
                    enum:
                    - UNKNOWN
                    - UNSUPPORTED_CLIENT
                    - SUBSCRIPTION_MISSING
                    - SUBSCRIPTION_PAYMENT_DUE
                    - SUBSCRIPTION_PLAN_UNSUPPORTED_FEATURE
                    - FEATURE_ACCESS_DENIED
                    - PROJECT_ACCESS_DENIED
                    - PROJECT_ARCHIVED
                    - WORKSPACE_ACCESS_DENIED
                    - WORKSPACE_SELECTION_MISSING
                    - null
    delete:
      operationId: v1.project.expense-transactions.delete
      description: Delete an Expense Transaction and its Expense line items.
      summary: Delete
      tags:
      - 'Project Expenses: Transactions'
      parameters:
      - name: projectV1
        in: path
        required: true
        description: Project UUID
        schema:
          type: string
          format: uuid
      - name: transactionUuid
        in: path
        required: true
        description: Expense Transaction UUID
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: No content
        '401':
          $ref: '#/components/responses/AuthenticationException'
        '403':
          description: When the authenticated User Account is forbidden from accessing the content or software features
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Human-readable description of why access was not allowed
                  reason:
                    type:
                    - string
                    - 'null'
                    description: 'Machine-readable code for why access was not allowed. Possible values:

                      * `UNKNOWN` - Access Forbidden

                      * `UNSUPPORTED_CLIENT` - Unsupported client.

                      * `SUBSCRIPTION_MISSING` - A Subscription is required. Visit the application website to manage the Subscription.

                      * `SUBSCRIPTION_PAYMENT_DUE` - A paid Subscription is required. Visit the application website to manage the Subscription.

                      * `SUBSCRIPTION_PLAN_UNSUPPORTED_FEATURE` - The Subscription Plan does not support using this Software Feature.

                      * `FEATURE_ACCESS_DENIED` - Your account within this Workspace is not allowed to use this Software Feature. Contact the Workspace Owner to request access.

                      * `PROJECT_ACCESS_DENIED` - Your account is not allowed to access this Project. Contact the Workspace Owner to request access.

                      * `PROJECT_ARCHIVED` - This Project is Archived and cannot be accessed. You must restore this Project to Active Status to use it.

                      * `WORKSPACE_ACCESS_DENIED` - You do not have an account within this Workspace.

                      * `WORKSPACE_SELECTION_MISSING` - You must select a Workspace before making this request.

                      '
                    enum:
                    - UNKNOWN
                    - UNSUPPORTED_CLIENT
                    - SUBSCRIPTION_MISSING
                    - SUBSCRIPTION_PAYMENT_DUE
                    - SUBSCRIPTION_PLAN_UNSUPPORTED_FEATURE
                    - FEATURE_ACCESS_DENIED
                    - PROJECT_ACCESS_DENIED
                    - PROJECT_ARCHIVED
                    - WORKSPACE_ACCESS_DENIED
                    - WORKSPACE_SELECTION_MISSING
                    - null
components:
  schemas:
    Expense_Transaction:
      type: object
      properties:
        uuid:
          type: string
          description: Public identifier.
        created_at:
          type:
          - string
          - 'null'
          description: 'Timestamp when Expense Transaction was created in ISO 8601 Zulu format with microseconds.

            Example: `2026-06-07T16:20:00.123456Z`'
        updated_at:
          type:
          - string
          - 'null'
          description: 'Timestamp when Expense Transaction was last changed in ISO 8601 Zulu format with microseconds.

            Example: `2026-06-07T16:20:00.123456Z`'
        sequence_number:
          type:
          - integer
          - 'null'
          description: Project-scoped sequence number shown in the web app as `T#`.
        receipt_uuid:
          type:
          - string
          - 'null'
          description: Receipt UUID associated with this Expense Transaction.
        subtotal:
          type: number
          description: Sum of Expense amounts before tax, in dollars. Such as `1234.56`
        total_tax:
          type: number
          description: Sum of tax values from all Expenses, in dollars. Such as `1234.56`
        grand_total:
          type: number
          description: Sum of Expense totals including tax, in dollars. Such as `1234.56`
        expenses:
          type: array
          description: Expense line items belonging to this Expense Transaction.
          items:
            $ref: '#/components/schemas/Expense_Line_Item'
      required:
      - uuid
      - created_at
      - updated_at
      - sequence_number
      - receipt_uuid
      - subtotal
      - total_tax
      - grand_total
      - expenses
      title: Expense Transaction
    Expense_Transaction_List:
      type: array
      items:
        $ref: '#/components/schemas/Expense_Transaction'
      title: Expense Transaction List
    Expense_Line_Item:
      type: object
      properties:
        uuid:
          type: string
          description: Public identifier.
        created_at:
          type:
          - string
          - 'null'
          description: 'Timestamp when Expense was created in ISO 8601 Zulu format with microseconds.

            Example: `2026-06-07T16:20:00.123456Z`'
        updated_at:
          type:
          - string
          - 'null'
          description: 'Timestamp when Expense was last changed in ISO 8601 Zulu format with microseconds.

            Example: `2026-06-07T16:20:00.123456Z`'
        transaction_uuid:
          type:
          - string
          - 'null'
          description: Parent Expense Transaction public identifier.
        date:
          type:
          - string
          - 'null'
          description: Date this Expense was incurred in `YYYY-MM-DD` format.
        invoice_number:
          type:
          - string
          - 'null'
          description: Invoice number entered for this Expense.
        name:
          type: string
          description: Description of the purchased item or service.
        class:
          type:
          - string
          - 'null'
          description: 'Expense classification. One of: `labor`, `material`, `labor-and-material`, `other`.'
        amount:
          type:
          - number
          - 'null'
          description: Expense amount BEFORE tax, in dollars. Such as `1234.56`
        tax:
          type:
          - number
          - 'null'
          description: Tax allocated to this Expense, in dollars. Such as `1234.56`. This field is read-only and can only be written via the parent Transaction's `tax_total` field.
        total:
          type:
          - number
          - 'null'
          description: Calculated automatically as amount plus tax, in dollars. Such as `1234.56`. This field is read-only and automatically calculated.
        expense_account:
          type:
          - object
          - 'null'
          description: Expense Account assigned to this Expense.
          properties:
            uuid:
              type: string
            name:
              type: string
          required:
          - uuid
          - name
        company:
          type:
          - object
          - 'null'
          description: Company/vendor assigned to this Expense.
          properties:
            uuid:
              type: string
            name:
              type: string
          required:
          - uuid
          - name
        expense_category:
          type:
          - object
          - 'null'
          description: Expense Category assigned to this Expense.
          properties:
            uuid:
              type: string
            name:
              type: string
          required:
          - uuid
          - name
      required:
      - uuid
      - created_at
      - updated_at
      - transaction_uuid
      - date
      - invoice_number
      - name
      - class
      - amount
      - tax
      - total
      - expense_account
      - company
      - expense_category
      title: Expense Line Item
    Create_Expense_Transaction_Request:
      type: object
      properties:
        receipt_uuid:
          type:
          - string
          - 'null'
          description: Receipt UUID to associate with the created Expense Transaction and every created Expense line item. Only 1 Receipt can be associated on an Expense Transaction, and a Receipt cannot be associated to more than one Expense Transaction.
        date:
          type: string
          description: Default date for created Expense line items in `YYYY-MM-DD` format. Individual `expenses` records can override this value with their own `date`.
        company_uuid:
          type:
          - string
          - 'null'
          description: Default Company/vendor UUID for created Expense line items. Individual `expenses` records can override this value with their own `company_uuid`. This Company must be in your Workspace.
        expense_account_uuid:
          type:
          - string
          - 'null'
          description: Default Expense Account UUID for created Expense line items. Individual `expenses` records can override this value with their own `expense_account_uuid`. This Expense Account must be in your Workspace.
        expense_category_uuid:
          type:
          - string
          - 'null'
          description: Default Expense Category UUID for created Expense line items. Individual `expenses` records can override this value with their own `expense_category_uuid`. This Expense Category must be in the Project where the Expense Transaction is created.
        total_tax:
          type: number
          description: Required. Total tax charged for the entire Expense Transaction. Such as `1234.56`. Once received, FlipperForce will automatically distribute the tax amount proportionally to all Expenses on the Transaction.
        invoice_number:
          type:
          - string
          - 'null'
          description: Default invoice number for created Expense line items. Individual `expenses` records can override this value with their own `invoice_number`.
        expenses:
          type: array
          description: Required. Expense line items to create for this Expense Transaction (at least 1). For example, the individual items or services that were charged and printed on a receipt or invoice.
          items:
            type: object
            description: Required. Expense line item.
            properties:
              date:
                type: string
                description: Provide this field unless `date` is provided at the root-level. Date this Expense was incurred in `YYYY-MM-DD` format.
              invoice_number:
                type:
                - string
                - 'null'
                description: Invoice Number. When omitted, the root-level `invoice_number` is used when provided.
              expense_account_uuid:
                type:
                - string
                - 'null'
                description: Expense Account UUID. When omitted, the root-level `expense_account_uuid` is used when provided.
              company_uuid:
                type:
                - string
                - 'null'
                description: Company UUID for the vendor who supplied the purchased item or service. When omitted, the root-level `company_uuid` is used when provided.
              expense_category_uuid:
                type:
                - string
                - 'null'
                description: Expense Category UUID. When omitted, the root-level `expense_category_uuid` is used when provided.
              name:
                type: string
                description: Required. Description of the purchased item or service.
              class:
                type:
                - string
                - 'null'
                description: Expense Classification. Allowed values are `labor`, `material`, `labor-and-material`, and `other`.
                enum:
                - labor
                - material
                - labor-and-material
                - other
                - null
              amount:
                type: number
                description: Required. Expense amount BEFORE tax, in dollars. Such as `1234.56`
            required:
            - name
            - amount
      required:
      - total_tax
      - expenses
      title: Create Expense Transaction Request
    Update_Expense_Transaction_Request:
      type: object
      properties:
        receipt_uuid:
          type:
          - string
          - 'null'
          description: Receipt UUID to associate with the created Expense Transaction and every created Expense line item. Only 1 Receipt can be associated on an Expense Transaction, and a Receipt cannot be associated to more than one Expense Transaction. Send `null` to unlink (disassociate) the Transaction's current Receipt.
        total_tax:
          type: number
          description: Total tax charged for the entire Expense Transaction. Such as `1234.56`. When omitted, FlipperForce preserves the Transaction's current total tax and redistributes it across all Expense line items after submitted changes are applied.
        expenses:
          type: array
          description: Expense line items to update or create. When omitted all existing Expenses are kept as-is. They are not deleted.
          items:
            type: object
            description: Expense line item.
            properties:
              uuid:
                type: string
                description: Expense UUID of the existing Expense to update. If you omit this field, a new Expense record will be created with this data.
              date:
                type: string
                description: Required. Date this Expense was incurred in `YYYY-MM-DD` format.
              invoice_number:
                type:
                - string
                - 'null'
                description: Invoice number entered for this Expense.
              expense_account_uuid:
                type:
                - string
                - 'null'
                description: Expense Account UUID assigned to this Expense. This Expense Account must be in your Workspace.
              company_uuid:
                type:
                - string
                - 'null'
                description: Company/vendor UUID assigned to this Expense. This Company must be in your Workspace.
              expense_category_uuid:
                type:
                - string
                - 'null'
                description: Expense Category UUID assigned to this Expense. This Expense Category must be in the same Project as the Expense Transaction.
              name:
                type: string
                description: Description of the purchased item or service.
              class:
                type:
                - string
                - 'null'
                description: Expense classification.
              amount:
                type: number
                description: Expense amount BEFORE tax, in dollars. Such as `1234.56`
            required:
            - date
            - name
            - amount
            additionalProperties: {}
      required:
      - expenses
      title: Update Expense Transaction Request
  responses:
    AuthenticationException:
      description: Unauthenticated
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error overview.
            required:
            - message
    ValidationException:
      description: Validation error
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                description: Errors overview.
              errors:
                type: object
                description: A detailed description of each field that failed validation.
                additionalProperties:
                  type: array
                  items:
                    type: string
            required:
            - message
            - errors
  securitySchemes:
    PublicApiBearerAuth:
      type: http
      description: 'Use the Public API key provided by FlipperForce as a Bearer token. Send the key exactly as provided in the Authorization header: `Authorization: Bearer <api-key>`.'
      scheme: bearer
      bearerFormat: FlipperForce Public API key
