openapi: 3.2.0
info:
  title: FlipperForce Public User API
  version: 0.0.10
  description: '# FlipperForce Public API • Version 1


    ## How do I request an API key?'
servers:
- url: https://tools.flipperforce.com/api/v1
security:
- PublicApiBearerAuth: []
tags:
- name: User
paths:
  /user/account:
    get:
      operationId: v1.user.account
      description: 'Details about the currently authenticated User, including their

        available Workspaces and Permissions.'
      summary: Account
      tags:
      - User
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      user_account:
                        description: Authenticated User's account details
                        $ref: '#/components/schemas/User_Account'
                      chat_hash:
                        type:
                        - string
                        - 'null'
                        description: 'Verify the User''s identity with chat support.

                          This field is only available when using an official client.'
                    required:
                    - user_account
                    - chat_hash
                required:
                - data
        '401':
          $ref: '#/components/responses/AuthenticationException'
components:
  schemas:
    User_Account:
      type: object
      properties:
        user:
          $ref: '#/components/schemas/User'
        workspaces:
          type: array
          description: Each Workspace the User is a member of
          items:
            $ref: '#/components/schemas/Workspace'
      required:
      - user
      - workspaces
      title: User Account
    Workspace:
      type: object
      properties:
        uuid:
          type: string
          description: Public identifier
        owner:
          description: 'User that maintains the Workspace''s Subscription and highest

            level permissions.'
          $ref: '#/components/schemas/User'
        company:
          type:
          - object
          - 'null'
          description: Company Profile for this Workspace.
          properties:
            name:
              type:
              - string
              - 'null'
            email:
              type:
              - string
              - 'null'
            phone:
              type:
              - string
              - 'null'
            website:
              type:
              - string
              - 'null'
          required:
          - name
          - email
          - phone
          - website
        role:
          type: string
          description: 'What account type the User holds within this Workspace.

            Such as `Owner`, `Team Admin`, `Team Member`'
        user_permissions:
          type: array
          description: 'Software Features the User is allowed to use when working within

            the Workspace. Varies according to the Workspace''s Subscription Plan

            and how the User''s account is configured in the Workspace.

            Please contact us for a complete list of possible values.'
          items:
            type: string
        project_stages:
          type: object
          description: 'Projects within a Workspace can be assigned to one of these

            Project Stage keys. Keys are the machine-readable values

            accepted by the API. Values are the human-readable text for

            that Stage. A Project''s current Stage is returned via the

            Project schema as field `stage`.


            Workspace Owners can customize the human-readable values using

            the web application, but the machine-readable values cannot be

            changed. For example, if the human-readable text for

            `pending_purchase` was customized to be

            "Evaluating Deal" then the API still requires submitting

            `pending_purchase` to move the Project to the Evaluating Deal

            Stage.'
          additionalProperties:
            type: string
      required:
      - uuid
      - owner
      - company
      - role
      - user_permissions
      - project_stages
      title: Workspace
    User:
      type: object
      properties:
        uuid:
          type: string
          description: Public identifier
        first_name:
          type: string
        last_name:
          type: string
        email:
          type: string
        avatar:
          type:
          - string
          - 'null'
          description: URL to User's avatar photo. NULL if they have not uploaded a photo.
      required:
      - uuid
      - first_name
      - last_name
      - email
      - avatar
      title: User
  responses:
    AuthenticationException:
      description: Unauthenticated
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error overview.
            required:
            - message
  securitySchemes:
    PublicApiBearerAuth:
      type: http
      description: 'Use the Public API key provided by FlipperForce as a Bearer token. Send the key exactly as provided in the Authorization header: `Authorization: Bearer <api-key>`.'
      scheme: bearer
      bearerFormat: FlipperForce Public API key
